/*--------------------
Global
--------------------*/
input:focus {outline:0 !important;}
label:focus {outline:0 !important;}

/*--------------------
Body
--------------------*/

/**,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  line-height: 1.3;
  overflow: hidden;
}

.bg {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}*/

/*--------------------
Login
--------------------*/
@media (min-width: 700px) {
	.login {
		/*-webkit-transform: translate(-50%, -55%);
    transform: translate(-50%, -55%);*/
    bottom: 20px;
    right: 20px;
    max-height: 500px;
  	border-radius: 10px;
	}
}


.login {
  position: fixed;
  margin: 0 auto;
  width: 320px;
  height: 80vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: none;
  z-index: 2;
  overflow: hidden;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.98);
  text-align: center;
}
	
@media (max-width: 700px) {
	.login {
		  width: 100%;
		  height: 650px;
		  z-index: 2;
		  overflow: hidden;
		  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
		  background: rgba(255, 255, 255, 0.98);
		  text-align: center;
		}
}

.login-body {
	-webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  color: rgba(255, 255, 255, 0.5);
  overflow: hidden;
  position: relative;
  width: 100%;
}

.login-body .login-scroll {
  position: absolute;
  top: 0;
  left: 0;
  height: 101%;
  width: 100%;
}

/*--------------------
Login Input
--------------------*/
.name-input {
  background: none;
  border: none;
  border-bottom: 1px solid rgba( 52, 152, 219 ,1.0);
  width: 70%;
  margin: 0 auto;
  height: 35px;
  outline: none !important;
  color: black;
  margin-top: 10%;
  padding: 10px;
}

.name-input input:focus:-webkit-placeholder {
  color: transparent;
}

::-webkit-input-placeholder { /* Chrome */
  color: rgba(93, 109, 126, 0.8);
}
:-ms-input-placeholder { /* IE 10+ */
  color: rgba(93, 109, 126, 0.8);
}
::-moz-placeholder { /* Firefox 19+ */
  color: rgba(93, 109, 126, 0.8);
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: rgba(93, 109, 126, 0.8);
  opacity: 1;
}

.email-input {
  background: none;
  border: none;
  border-bottom: 1px solid rgba( 52, 152, 219 ,1.0);
  width: 70%;
  margin: 0 auto;
  height: 35px;
  outline: none !important;
  color: black;
  margin-top: 5px;
  padding: 10px;
}

.email-input input:focus:-webkit-placeholder {
  color: transparent;
}

.phone-input {
  background: none;
  border: none;
  border-bottom: 1px solid rgba( 52, 152, 219 ,1.0);
  width: 70%;
  margin: 0 auto;
  height: 35px;
  outline: none !important;
  color: black;
  margin-top: 5px;
  padding: 10px;
}

.phone-input input:focus:-webkit-placeholder {
  color: transparent;
}

.login-connect {
  z-index: 1;
  color: #fff;
  border: none;
  height: 35px;
  width: 65%;
  background: #2874A6;
  font-size: 10px;
  text-transform: uppercase;
  line-height: 1;
  padding: 6px 10px;
  border-radius: 10px;
  outline: none !important;
  -webkit-transition: background .2s ease;
  transition: background .2s ease;
}

.login-connect:hover {
  background: #34495E;
}

.login-close {
	float: right;
}

.connect-message {
	color: rgba(93, 109, 126, 1);
	font-size: 10px;
	width: 70%;
	margin-top: 10%;
	display:inline-block;
}

.warning-login {
	color: #fff !important;
	width: 70%;
	font-size: 10px;
	display:inline-block;
	text-align: right;
}

.warning-name {
	color: rgba(93, 109, 126, 1);
	width: 70%;
	font-size: 10px;
	display:inline-block;
	text-align: right;
}

.warning-email {
	color: rgba(93, 109, 126, 1);
	width: 70%;
	font-size: 10px;
	display:inline-block;
	text-align: right;
}

.warning-phone {
	color: rgba(93, 109, 126, 1);
	width: 70%;
	font-size: 10px;
	display:inline-block;
	text-align: right;
}

.warning-login {
	color: rgba(93, 109, 126, 1);
	width: 70%;
	font-size: 13px;
	font-weight: bold;
	display:inline-block;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

.warning-login-box {
	background-color: rgba(231, 76, 60, 0.9);
	width: 100%;
	font-size: 13px;
	display:inline-block;
	text-align: center;
	margin-top: 120%;
}

.captcha {
    text-align: center;
}

.g-recaptcha {
	transform:scale(0.77);
	-webkit-transform:scale(0.77);
	transform-origin:0 0;
	-webkit-transform-origin:0 0;
	width: 78%;
    display: inline-block;
}
/*--------------------
Loading
--------------------*/
@media (min-width: 700px) {
	.loader {
		/*-webkit-transform: translate(-50%, -55%);
          transform: translate(-50%, -55%);*/
        max-height: 500px;
        width: 320px;
  		height: 80vh;
      bottom: 20px;
      right: 20px;
  		border-radius: 10px;
	}
}

@media (max-width: 700px) {
	.loader {
		  width: 100%;
		  height: 100%;
		  z-index: 2;
		  overflow: hidden;
		  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
		  background: rgba(0, 0, 0, 0.5);
		  text-align: center;
		}
}

.loader {
  position: fixed;
  bottom: 20px;
  right: 20px;
  margin:0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: none;
  width: 320px;
  height: 80vh;
  max-height: 500px;
  z-index: 2;
  overflow: hidden;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.98) url('../../images/webchat/ic_loader.gif');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  background-size: 50px;
  text-align: center;
}

.loader-message {
	color: rgba(93, 109, 126, 1);
	font-size: 10px;
	width: 70%;
	margin-top: 30%;
	display:inline-block;
}
	
/*--------------------
Chat
--------------------*/
@media (min-width: 700px) {
	.chat {
		/*-webkit-transform: translate(-50%, -55%);
          transform: translate(-50%, -55%);*/
      max-height: 500px;
      width: 320px;
  		height: 80vh;
      bottom: 20px;
  		right: 20px;
  		border-radius: 10px;
  		position: fixed;
	}
}

@media (max-width: 700px) {
	.chat {
		  width: 100%;
		  height: 100%;
		  z-index: 2;
		  overflow: hidden;
		  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
		  background: rgba(255, 255, 255, 0.98);
		  position: fixed;
		  left: 0px;
		  top: 0px;
		}
}

.chat {
  margin:0 auto;
  z-index: 2;
  overflow: hidden;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.98);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: none;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*--------------------
Chat Title
--------------------*/
@media (min-width: 700px) {
	.chat-title {
		border-radius: 10px 10px 0 0;
	}
}

@media (max-width: 700px) {
	.chat-title {
		border-radius: 0 0 0 0;
	}
}

.chat-title {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 45px;
      -ms-flex: 0 1 45px;
          flex: 0 1 45px;
  position: relative;
  z-index: 2;
  background: #2E86C1;
  color: #fff;
  text-transform: uppercase;
  text-align: left;
  padding: 10px 10px 10px 50px;
}
.chat-title h1, .chat-title h2 {
  font-weight: normal;
  font-size: 12px;
  margin: 0;
  padding: 0;
}
.chat-title h2 {
  color: #fff;
  font-size: 10px;
  letter-spacing: 1px;
}
.chat-title .avatar {
  position: absolute;
  z-index: 1;
  top: 8px;
  left: 9px;
  border-radius: 30px;
  width: 30px;
  height: 30px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 2px solid rgba(255, 255, 255, 0.24);
}
.chat-title .avatar img {
  width: 100%;
  height: auto;
}
.chat-close {
	float: right;
}
.chat-notification {
	border-radius: 50%;
	behavior: url(PIE.htc);
	width: 30px;
	height: 30px;
	line-height: 15px !important;
	padding: 5px;
	background: rgba(199, 0, 57,0.8);
	border: 2px solid #666;
	color: #fff;
	text-align: center;
	font: 9px Arial, sans-serif;
	position: fixed;
	bottom: 65px;
	right: 42px;
	z-index: 999999;
	display: none;
}
.chat-notification .hidden {
    display: none;
}
.chat-icon {
    font-family: arial;
    width: 55px;
    height: 55px;
    line-height: 50px;
    text-align: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99999;
    border-radius: 100%;
    cursor: pointer;
    -webkit-box-shadow: 3px 7px 20px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 7px 20px -4px rgba(0, 0, 0, 0.75);
    background-color:  #3498db;
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-image: url(../../images/webchat/ic_chat.png);
    float: right;
}
.chat-icon .hidden {
    display: none;
}
/*--------------------
Messages
--------------------*/
.messages {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  color: rgba(93, 109, 126, 1);
  overflow: hidden;
  position: relative;
  width: 100%;
}
.messages .messages-content {
  position: absolute;
  top: 0;
  left: 0;
  height: 101%;
  width: 100%;
}
.messages .message {
  clear: both;
  float: left;
  padding: 6px 10px 7px;
  border-radius: 10px 10px 10px 0;
  background: rgba(214, 219, 223, 0.9);
  margin: 8px 0;
  font-size: 13px;
  line-height: 1.4;
  margin-left: 35px;
  position: relative;
  text-align: left;
  word-break: break-word;
}
.messages .message .timestamp {
  position: absolute;
  bottom: -15px;
  font-size: 9px;
  color: rgba(93, 109, 126, 0.9);
}
.messages .message::before {
  content: '';
  position: absolute;
  bottom: -6px;
  border-top: 6px solid rgba(214, 219, 223, 0.9);
  left: 0;
  border-right: 7px solid transparent;
}
.messages .message .avatar {
  position: absolute;
  z-index: 1;
  bottom: -15px;
  left: -35px;
  border-radius: 30px;
  width: 30px;
  height: 30px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 2px solid rgba(255, 255, 255, 0.24);
}
.messages .message .avatar img {
  width: 100%;
  height: auto;
}
.messages .message.message-personal {
  float: right;
  color: #fff;
  text-align: right;
  background: rgba(52, 152, 219, 1);
  border-radius: 10px 10px 0 10px;
}
.messages .message.message-personal::before {
  left: auto;
  right: 0;
  border-right: none;
  border-left: 5px solid transparent;
  border-top: 4px solid rgba(52, 152, 219, 1);
  bottom: -4px;
}
.messages .message.message-image-personal {
  padding: 5px;
  float: right;
  color: #fff;
  text-align: right;
  background: -webkit-linear-gradient(330deg, #2E86C1  , #257287);
  background: linear-gradient(120deg, #2E86C1  , #257287);
  border-radius: 10px 10px 0 10px;
}
.messages .message.message-image-personal::before {
  left: auto;
  right: 0;
  border-right: none;
  border-left: 5px solid transparent;
  border-top: 4px solid #257287;
  bottom: -4px;
}
.messages .message.message-image-agent {
	padding: 5px;
}
.messages .message.message-failed {
  float: right;
  color: #e7e5e5;
  text-align: right;
  background: -webkit-linear-gradient(330deg, #2E86C1  , #257287);
  background: linear-gradient(120deg, #2E86C1  , #257287);
  border-radius: 10px 10px 0 10px;
}
.messages .message.message-failed::before {
  left: auto;
  right: 0;
  border-right: none;
  border-left: 5px solid transparent;
  border-top: 4px solid #257287;
  top: 0px;
}
.messages .message.message-failed::after {
  position: absolute;
  top: -4px;
  background-size: 12px 12px;
    display: inline-block;
    width: 12px; 
    height: 12px;
  background-image: url(../../images/webchat/ic_failed.png); 
  content: ""
}
.messages .message:last-child {
  margin-bottom: 30px;
}
.messages .message.new {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-animation: bounce 500ms linear both;
          animation: bounce 500ms linear both;
}
.messages .message.loading::before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  content: '';
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 2;
  margin-top: 4px;
  -webkit-animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
          animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
  border: none;
  -webkit-animation-delay: .15s;
          animation-delay: .15s;
}
.messages .message.loading span {
  display: block;
  font-size: 0;
  width: 20px;
  height: 10px;
  position: relative;
}
.messages .message.loading span::before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  content: '';
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 2;
  margin-top: 4px;
  -webkit-animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
          animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
  margin-left: -7px;
}
.messages .message.loading span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  content: '';
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 2;
  margin-top: 4px;
  -webkit-animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
          animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
  margin-left: 7px;
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
}


/*--------------------
Message Box
--------------------*/
@media (max-width: 700px) {
	.message-box .message-input {
  width: 100% !important;
}
}

.message-box {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 40px;
      -ms-flex: 0 1 40px;
          flex: 0 1 40px;
  width: 100%;
  background: rgba(255, 255, 255, 1);
  padding: 10px;
  position: relative;
}
.message-box .message-input {
  background: none;
  border: none;
  outline: none !important;
  resize: none;
  color: rgba(93, 109, 126, 1);
  font-size: 12px;
  height: 34px;
  margin: 0;
  padding-right: 20px;
  width: 75%;
}
.message-box textarea:focus:-webkit-placeholder {
  color: rgba(93, 109, 126, 0.9);
}
.message-box .message-submit {
  position: absolute;
  z-index: 1;
  top: 9px;
  right: 10px;
  color: #fff;
  border: none;
  background: #3498DB;
  font-size: 10px;
  text-transform: uppercase;
  line-height: 1;
  padding: 6px 10px;
  border-radius: 10px;
  outline: none !important;
  -webkit-transition: background .2s ease;
  transition: background .2s ease;
}
.message-box .message-submit:hover {
  background: #2E86C1;
}

.message-close {
  position: absolute;
  z-index: 1;
  top: 9px;
  right: 10px;
  color: #fff;
  border: none;
  background: #5D6D7E;
  font-size: 10px;
  text-transform: uppercase;
  line-height: 1;
  padding: 6px 10px;
  border-radius: 10px;
  outline: none !important;
  -webkit-transition: background .2s ease;
  transition: background .2s ease;
}
.message-close:hover {
  background: #34495E;
}

/*--------------------
Custom Srollbar
--------------------*/
.mCSB_scrollTools {
  margin: 1px -3px 1px 0;
  opacity: 0;
}

.mCSB_inside > .mCSB_container {
  margin-right: 0px;
  padding: 0 10px;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

/*--------------------
Bounce
--------------------*/
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  4.7% {
    -webkit-transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  9.41% {
    -webkit-transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  14.11% {
    -webkit-transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  18.72% {
    -webkit-transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  24.32% {
    -webkit-transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  29.93% {
    -webkit-transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  35.54% {
    -webkit-transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  41.04% {
    -webkit-transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  52.15% {
    -webkit-transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  63.26% {
    -webkit-transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  85.49% {
    -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  4.7% {
    -webkit-transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  9.41% {
    -webkit-transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  14.11% {
    -webkit-transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  18.72% {
    -webkit-transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  24.32% {
    -webkit-transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  29.93% {
    -webkit-transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  35.54% {
    -webkit-transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  41.04% {
    -webkit-transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  52.15% {
    -webkit-transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  63.26% {
    -webkit-transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  85.49% {
    -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}
@-webkit-keyframes ball {
  from {
    -webkit-transform: translateY(0) scaleY(0.8);
            transform: translateY(0) scaleY(0.8);
  }
  to {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}
@keyframes ball {
  from {
    -webkit-transform: translateY(0) scaleY(0.8);
            transform: translateY(0) scaleY(0.8);
  }
  to {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

/*--------------------
Attachment
--------------------*/
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
	position: absolute;
	z-index: 1;
	top: -3px;
	right: 60px;
    font-size: 0.8rem;
    /* 20px */
    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.40rem 0.40rem 0.40rem 0.6rem;
    /* 10px 20px */
    text-align: center;
    border-radius: 10px;
    margin-top: 10px;
}

.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    /*outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;*/
    outline: 0 !important;
}

.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

.inputfile + label svg {
    width: 1.3em;
    height: 1.2em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}

.inputfile-1 + label {
    color: #f1e5e6;
    background-color: transparent;
}

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
    background-color: rgba(255,255,255, 0.1);
}

.attachment-figure {
	margin: 0;
	float: left;
}

.icons8-Document { /* Customizes Document icon */
  float: right;
  fill:white;
  width: 20px;
  height: 20px;
}
.icon { /* Customizes all icons at once */
  display: inline-block;
}

.attachment-image {
	border-radius: 10px;
	max-width: 170px;
	max-height: 130px;
}

.attachment-filename-sent {
	float: left;
	display: table;
	height: 100%;
	text-align: center;
	margin-top: 1px;
}

.attachment-filename-text {
  color: white;
  font-weight: bold;
}

/*--------------------
Quick Replies
--------------------*/
.messages .quick-reply {
  clear: both;
  float: left;
  border-radius: 10px 10px 10px 0;
  background: none;
  margin-top: 25px;
  font-size: 11px;
  line-height: 1.4;
  position: relative;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-align: left;
  width: 100%;
  display: flex;
}

.messages .quick-reply .avatar {
  z-index: 1;
  bottom: -15px;
  left: -35px;
  border-radius: 30px;
  width: 25px;
  height: 25px;
  overflow: hidden;
  margin: 0 3px 0 0;
  padding: 0;
  border: 2px solid rgba(255, 255, 255, 0.24);
}
.messages .quick-reply .avatar img {
  width: 100%;
  height: auto;
}

.message-q-replies {
	display: flex;
	overflow-x: auto;
	padding-bottom: 16px;
	margin-bottom: -16px;
	height: 40px;
}

.message-q-replies::-webkit-scrollbar {
  display: none;
}

.q-replies {
	margin-right: 10px;
	display: flex;
  	flex-wrap: nowrap;
  	flex: 0 0 auto;
}

.q-reply-text {
	background: #3498DB;
	border-radius: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 7px;
	padding-right: 7px;
	flex: 0 0 auto;
	cursor: pointer;
	color:white;
}

.q-reply-left {
	display: flex;
	align-self: center;
	padding: 5px 10px 5px 0px;
	cursor: pointer;
	height: 30px;
    margin-bottom: 12px;
}

.q-reply-right {
	display: flex;
	align-self: center;
	padding: 5px 0px 5px 10px;
	cursor: pointer;
	height: 30px;
    margin-bottom: 12px;
}